<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AXSegmentedControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>018465D81CFD269D009445BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>018465F11CFD269D009445BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>018465FC1CFD269D009445BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
